/* style.css */
:root
{
    --dark: #292b1f;
    --light: #f5efd4;
    --accent1: #82b148;
    --accent2: #f18624;
}

*
{
    box-sizing: border-box;
    color: var(--light);
}
button
{
    color: var(--dark);
}

body
{
    background-color: var(--dark);
    padding: 5px;
    height: 100vh;
    margin: 0;

    font: 500 100% 'Tahoma', system-ui, sans-serif;
}
.page-wrap
{
    background-color: black;
    height: calc(100vh - 10px);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.33);

    display: grid;
    grid-template-columns: minmax(10px, 1fr) minmax(10px, 3fr);
    grid-template-rows: min-content 1fr min-content;
    gap: 1px;
}
.page-wrap > *
{
    padding: 1rem;
    text-align: center;
}

.page-header
{
    grid-column: 1 / -1;
    background-color: var(--dark);
}

.game-info
{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: #484d37;
}
.game-info .game-end-message button
{
    background-color: var(--light);
    border: none;
    border-radius: 2rem;
    font-size: 1.125rem;
    padding: 0.5rem 0.8rem;
    font-weight: bold;
}
.game-info .game-end-message button:hover
{
    filter: brightness(120%);
}
.game-info .player-info-container
{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    height: 100%;
}
.game-info .player-info-container .player1-card,
.game-info .player-info-container .player2-card
{
    border-radius: 12px;
}

.game-info .player-info-container .player-mark
{
    font-size: 10vmin;
    padding: 0;
    margin: 0;
}
.game-info .player-info-container .player-name
{
    font-size: 2rem;
    margin: 0;
    padding: 0;
}
#p1nameinp,
#p2nameinp
{
    width: 100%;
    text-align: center;
    background-color: var(--light);
    color: var(--dark);
    border-radius: 1rem;
    padding: 0.2rem;
}

.game
{
    grid-column: 2/ 3;
    background-color: #5c6145;

    display: flex;
    align-items: center;
    justify-content: center;
}
.game .gameboard-wrapper
{
    background-color: black;
    width: 65vmin;
    height: 65vmin;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.33);
    border: none;
}
.game .gameboard-wrapper button
{
    background-color: var(--light);
    font-size: 10vmin;
    margin: 0;
    padding: 0px;
    border: 0;
}

.page-footer
{
    grid-column: 1 / -1;
    background-color: var(--dark);

    font-size: smaller;
}